.header {
  position: relative;
  padding: 20rem 3rem 0 3rem;
  height: 100vh;

  @include respond(tab-port) {
    padding: 20rem 10rem 0 10rem;
  }

  &__headline {
    margin: 0 0 4.2rem;
    width: 45rem;
    font-family: $rock-salt;
    font-size: 7.6rem;
    letter-spacing: 0.15em;
    line-height: 1.65;
    color: $primary-black;
  }

  &__paragraph {
    @include paragraph;
    padding: 1.65rem 0;
    width: 45rem;
    letter-spacing: 0.15em;
  }

  &__cta {
    @include cta;
    margin-top: 5rem;
    font-weight: 600;
  }

  &__decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108rem;
    overflow: hidden;
    z-index: -1;

    & img {
      pointer-events: none;
    }
  }

  &__image-1 {
    @include positionAbs(absolute, 0, 80.5%);
  }

  &__image-2 {
    @include positionAbs(absolute, 3%, 70%);
  }

  &__image-3 {
    @include positionAbs(absolute, 21%, 47%);
    width: 590px;
    z-index: -1;
  }

  &__image-4 {
    @include positionAbs(absolute, 50%, 89%);
  }

  &__image-4-1 {
    @include positionAbs(absolute, 58%, 94%);
    width: 230px;
  }

  &__image-5 {
    @include positionAbs(absolute, 72.5%, 60%);
  }

  &__image-6 {
    @include positionAbs(absolute, 50%, 70%);
    width: 310px;
  }

  &__image-7 {
    @include positionAbs(absolute, 14%, 30%);
  }
}
