@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin positionAbs($position: absolute, $top: 0, $left: 0) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin headline {
  font-family: $rock-salt;
  font-size: 3.3rem;
  letter-spacing: 0.18em;
  color: $primary-black;
}

@mixin paragraph {
  font-family: $dosis;
  font-size: 1.7rem;
  text-align: justify;
  line-height: 1.9;
  color: $primary-black;
}

@mixin firstLetter {
  &::before {
    position: absolute;
    content: attr(first-letter);
    top: 0;
    left: -150%;
    font-size: 12.5rem;
    line-height: 1;
    color: $primary-black;
    opacity: 10%;
    font-weight: 400;
  }
}

@mixin productDesc {
  font-family: $dosis;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.9;
  letter-spacing: 0.18em;
  color: $primary-black;
}

@mixin cta {
  display: block;
  padding: 1.7rem 3.8rem;
  width: fit-content;
  border: none;
  border-radius: 12px;
  font-family: $dosis;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  color: $primary-black;
  cursor: pointer;
  background: radial-gradient(circle at center, #f6c358 0%, #f7a803 70%);
  box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
  transition: all 0.2s ease;

  @media (hover: hover) {
    &:hover {
      transform: translateY(-2px);
      background: radial-gradient(circle at center, #f6c358 5%, #f7a803 75%);
      box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25);
    }
  }

  &:active,
  &:focus {
    transform: translateY(1px);
    box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25);
  }
}
