.products {
  padding: 14rem 3rem 13rem 3rem;

  @include respond(desktop) {
    padding: 14rem 6rem 13rem 6rem;
  }

  @include respond(big-desktop) {
    padding: 14rem 10rem 13rem 10rem;
  }

  &__headline {
    @include headline;
    padding-left: none;

    @include respond(tab-port) {
      padding-left: 70px;
    }
  }

  &__paragraph {
    @include paragraph;
    padding-left: none;
    width: 100%;
    letter-spacing: 0.18em;

    @include respond(tab-port) {
      padding-left: 70px;
    }
  }

  &__container {
    margin-top: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8rem;

    @include respond(big-desktop) {
      flex-direction: row;
    }
  }

  &__products-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }

  &__product {
    position: relative;
    display: none;
    justify-content: center;
    perspective: 150rem;
    cursor: pointer;

    &.active {
      display: flex;
    }
  }
}

.filter-box {
  @include positionAbs(sticky);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  z-index: 11;

  @include respond(big-desktop) {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &.sticky-bg:not(.filters) {
    & .filter-box__option {
      display: none;
    }
  }
  &.sticky-bg .filter-box__title {
    padding-top: 20px;
    cursor: pointer;
  }

  &__title {
    @include productDesc;
    flex: 0 0 100%;
    font-weight: 800;
    text-transform: uppercase;
    cursor: default;

    @include respond(big-desktop) {
      flex-direction: column;
      align-self: center;
      flex: 0 0 auto;
    }
  }

  &__option {
    @include productDesc;
    padding: 10px 40px 10px 20px;
    display: flex;
    align-items: center;
    flex: 1 0 30%;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $primary-white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.2s ease;

    @include respond(big-desktop) {
      flex: 0 1 auto;
    }

    &.active {
      cursor: default;
      & .filter-box__nav-img path {
        stroke: #f7a803;
        fill: #f7a803;
      }
    }

    @media (hover: hover) {
      &:not(.active):hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25);

        & .filter-box__nav-img {
          stroke-dasharray: 445.265, 0;
          stroke-dashoffset: 0;
          & path {
            stroke: #e49b03;
          }
        }
      }
    }

    &:not(.active):active,
    &:not(.active):focus {
      transform: translateY(1px);
      box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25);
    }
  }

  &__nav-img {
    margin-right: 20px;
    width: 30px;
    height: 27px;
    stroke-dasharray: 0, 222.632;
    stroke-dashoffset: -222.632;

    & path {
      fill: #ebebeb;
      stroke: #ebebeb;
      stroke-width: 1rem;
      transition: all 0.3s ease-in-out;
    }
  }
}

.product {
  flex-direction: column;
  min-width: 30rem;
  max-width: 33rem;
  height: auto;
  border-radius: 12px;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.18);
  overflow: hidden;

  @media only screen and (min-width: 56.25em), only screen and (hover: hover) {
    display: none;
    height: 450px;
    border-radius: none;
    box-shadow: none;
    overflow: visible;
  }

  @media only screen and (hover: none) {
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.18);
    overflow: hidden;
  }

  @include respond(big-desktop) {
    min-width: 33rem;
  }

  &__side {
    @include positionAbs(relative);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-white;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.6s ease;

    @media only screen and (min-width: 56.25em),
      only screen and (hover: hover) {
      position: absolute;
      height: 450px;
      border-radius: 12px;
      box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.18);
    }

    @media only screen and (hover: none) {
      position: relative;
      height: auto;
      border-radius: 0;
      box-shadow: none;
    }

    &--front {
      &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        height: 1rem;
        width: 0%;
        border-radius: 0 3px 3px 0;
        background-color: $primary-yellow;
        transition: all 0.5s ease-out;
      }
    }

    &--back {
      position: relative;
      cursor: default;
      transform: rotateY(0);

      @media only screen and (min-width: 56.25em),
        only screen and (hover: hover) {
        transform: rotateY(180deg);
      }

      @media only screen and (hover: none) {
        transform: rotateY(0);
      }

      @media only screen and (hover: hover) {
        &:active,
        &:focus {
          transform: translateY(5px) scale(1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18);
        }
      }

      &::after {
        @include positionAbs;
        content: '';
        width: 100%;
        height: 100%;
        background: url(../img/poly-2.png) no-repeat 130% -150%;
        z-index: -1;
        opacity: 0.6;
      }
    }
  }

  @media only screen and (hover: hover) {
    &:hover {
      z-index: 10;
    }
    &:hover &__side--front {
      transition-delay: 0.55s;
      transform: rotateY(-180deg) translateY(-5px) scale(1.15);
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.18);

      &::after {
        width: 100%;
      }
    }

    &:hover &__side--back {
      transition-delay: 0.55s;
      transform: rotateY(0) translateY(-5px) scale(1.15);
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.18);
    }
  }

  &__image {
    margin: 5.4rem 0 2.5rem;
    width: 200px;

    &--back {
      margin: 2rem 3rem 1rem;
      display: none;
      align-self: flex-start;
      width: 150px;

      @media only screen and (min-width: 56.25em),
        only screen and (hover: hover) {
        display: block;
      }

      @media only screen and (hover: none) {
        display: none;
      }
    }
  }

  &__title {
    @include productDesc;
    font-weight: 800;

    &--back {
      padding: 0 1.5rem;
      display: none;
      font-size: 1.5rem;

      @media only screen and (min-width: 56.25em),
        only screen and (hover: hover) {
        display: block;
      }

      @media only screen and (hover: none) {
        display: none;
      }
    }
  }

  &__action {
    padding: 1rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond(desktop) {
      padding: 1rem 2rem 0;
    }
  }

  &__price {
    @include productDesc;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
  }

  &__cta {
    @include cta;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__desc {
    padding: 1rem 1rem;
    font-family: $dosis;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.16em;
    color: $primary-black;
  }

  &__value {
    @include productDesc;
    margin-bottom: 1rem;
    font-weight: 600;
  }

  &--new {
    & .product__side--front::before {
      position: absolute;
      content: 'New!';
      top: 3rem;
      right: 4rem;
      width: 7rem;
      height: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $dosis;
      font-size: 1.7rem;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.9;
      letter-spacing: 0.18em;
      color: $primary-white;
      background: url(../img/new-bg.png) no-repeat center;
      background-size: contain;
    }
  }
}

.sticky-bg {
  &::after {
    @include glassBox;
    @include positionAbs(absolute, 0, 50%);
    content: '';
    transform: translateX(-50%);
    height: calc(100% + 3rem);
    width: 100vw;
    z-index: -1;
  }
}
