// FONTS
$dosis: 'Dosis', sans-serif;
// 400 regular 600 semi-bold 800 extra-bold
$rock-salt: 'Rock Salt', cursive;

// COLORS
$primary-black: #1d1c1c;
$primary-white: #fbfbfb;

$grey: #ebebeb;
$primary-yellow: #f7a803;
$dark-yellow: #e49b03;
