@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&family=Rock+Salt&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media only screen and (min-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background: linear-gradient(106deg, #dbd8d8 0%, #fcfcfc 50%, #e8e4e4 100%); }

::selection {
  background-color: rgba(247, 168, 3, 0.6);
  text-shadow: -1px 1px 0px #fffecef8, -2px 2px 0px rgba(247, 168, 3, 0.9), -3px 3px 0px #fdf3bf; }

.first-letter {
  position: relative; }
  .first-letter::before {
    position: absolute;
    content: attr(first-letter);
    top: 0;
    left: -150%;
    font-size: 12.5rem;
    line-height: 1;
    color: #1d1c1c;
    opacity: 10%;
    font-weight: 400; }

.header {
  position: relative;
  padding: 20rem 3rem 0 3rem;
  height: 100vh; }
  @media only screen and (min-width: 37.5em) {
    .header {
      padding: 20rem 10rem 0 10rem; } }
  .header__headline {
    margin: 0 0 4.2rem;
    width: 45rem;
    font-family: "Rock Salt", cursive;
    font-size: 7.6rem;
    letter-spacing: 0.15em;
    line-height: 1.65;
    color: #1d1c1c; }
  .header__paragraph {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1.9;
    color: #1d1c1c;
    padding: 1.65rem 0;
    width: 45rem;
    letter-spacing: 0.15em; }
  .header__cta {
    display: block;
    padding: 1.7rem 3.8rem;
    width: fit-content;
    border: none;
    border-radius: 12px;
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    cursor: pointer;
    background: radial-gradient(circle at center, #f6c358 0%, #f7a803 70%);
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.2s ease;
    margin-top: 5rem;
    font-weight: 600; }
    @media (hover: hover) {
      .header__cta:hover {
        transform: translateY(-2px);
        background: radial-gradient(circle at center, #f6c358 5%, #f7a803 75%);
        box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25); } }
    .header__cta:active, .header__cta:focus {
      transform: translateY(1px);
      box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25); }
  .header__decorations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108rem;
    overflow: hidden;
    z-index: -1; }
    .header__decorations img {
      pointer-events: none; }
  .header__image-1 {
    position: absolute;
    top: 0;
    left: 80.5%; }
  .header__image-2 {
    position: absolute;
    top: 3%;
    left: 70%; }
  .header__image-3 {
    position: absolute;
    top: 21%;
    left: 47%;
    width: 590px;
    z-index: -1; }
  .header__image-4 {
    position: absolute;
    top: 50%;
    left: 89%; }
  .header__image-4-1 {
    position: absolute;
    top: 58%;
    left: 94%;
    width: 230px; }
  .header__image-5 {
    position: absolute;
    top: 72.5%;
    left: 60%; }
  .header__image-6 {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 310px; }
  .header__image-7 {
    position: absolute;
    top: 14%;
    left: 30%; }

.mission {
  padding: 44rem 3rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 37.5em) {
    .mission {
      padding: 44rem 10rem 0 10rem; } }
  .mission__image {
    width: 57rem; }
  .mission__text-box {
    width: 54rem; }
  .mission__headline {
    font-family: "Rock Salt", cursive;
    font-size: 3.3rem;
    letter-spacing: 0.18em;
    color: #1d1c1c; }
  .mission__paragraph {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1.9;
    color: #1d1c1c;
    width: 53rem;
    letter-spacing: 0.18em; }

.products {
  padding: 14rem 3rem 13rem 3rem; }
  @media only screen and (min-width: 37.5em) {
    .products {
      padding: 14rem 10rem 13rem 10rem; } }
  .products__headline {
    font-family: "Rock Salt", cursive;
    font-size: 3.3rem;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    padding-left: 70px; }
  .products__paragraph {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    line-height: 1.9;
    color: #1d1c1c;
    padding-left: 70px;
    width: 100%;
    letter-spacing: 0.18em; }
  .products__container {
    margin-top: 12.5rem;
    display: flex;
    justify-content: flex-start; }
  .products__products-box {
    display: flex;
    gap: 2.5rem; }
  .products__product {
    position: relative;
    display: none;
    justify-content: center;
    perspective: 150rem;
    cursor: pointer; }
    .products__product.active {
      display: flex; }

.filter-box {
  margin-right: 8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem; }
  .filter-box__title {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    align-self: center;
    font-weight: 800;
    text-transform: uppercase;
    cursor: default; }
  .filter-box__option {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    padding: 10px 40px 10px 20px;
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #fbfbfb;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.2s ease; }
    .filter-box__option.active {
      cursor: default; }
      .filter-box__option.active .filter-box__nav-img path {
        stroke: #f7a803;
        fill: #f7a803; }
    @media (hover: hover) {
      .filter-box__option:not(.active):hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25); }
        .filter-box__option:not(.active):hover .filter-box__nav-img {
          stroke-dasharray: 445.265, 0;
          stroke-dashoffset: 0; }
          .filter-box__option:not(.active):hover .filter-box__nav-img path {
            stroke: #e49b03; } }
    .filter-box__option:not(.active):active, .filter-box__option:not(.active):focus {
      transform: translateY(1px);
      box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25); }
  .filter-box__nav-img {
    margin-right: 20px;
    width: 30px;
    height: 27px;
    stroke-dasharray: 0, 222.632;
    stroke-dashoffset: -222.632; }
    .filter-box__nav-img path {
      fill: #ebebeb;
      stroke: #ebebeb;
      stroke-width: 1rem;
      transition: all 0.3s ease-in-out; }

.product {
  min-width: 33rem;
  height: 450px; }
  .product__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 33rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 12px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.18);
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.6s ease; }
    .product__side--front::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      height: 1rem;
      width: 0%;
      border-radius: 0 3px 3px 0;
      background-color: #f7a803;
      transition: all 0.5s ease-out; }
    .product__side--back {
      position: relative;
      cursor: default;
      transform: rotateY(180deg); }
      .product__side--back::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/poly-2.png) no-repeat 130% -130%;
        z-index: -1;
        opacity: 0.6; }
    .product__side:active, .product__side:focus {
      transform: translateY(5px) scale(1);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.18); }
  @media (hover: hover) {
    .product:hover {
      z-index: 10; }
    .product:hover .product__side--front {
      transition-delay: 0.55s;
      transform: rotateY(-180deg) translateY(-5px) scale(1.15);
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.18); }
      .product:hover .product__side--front::after {
        width: 100%; }
    .product:hover .product__side--back {
      transition-delay: 0.55s;
      transform: rotateY(0) translateY(-5px) scale(1.15);
      box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.18); } }
  .product__image {
    margin: 5.4rem 0 2.5rem;
    width: 200px; }
    .product__image--back {
      margin: 2rem 3rem 1rem;
      align-self: flex-start;
      width: 150px; }
  .product__title {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    font-weight: 800; }
    .product__title--back {
      padding: 0 1.5rem;
      font-size: 1.5rem; }
  .product__action {
    padding: 1rem 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .product__price {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    margin-left: 1rem;
    font-size: 1.8rem;
    font-weight: 400; }
  .product__cta {
    display: block;
    padding: 1.7rem 3.8rem;
    width: fit-content;
    border: none;
    border-radius: 12px;
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    cursor: pointer;
    background: radial-gradient(circle at center, #f6c358 0%, #f7a803 70%);
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.2s ease;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600; }
    @media (hover: hover) {
      .product__cta:hover {
        transform: translateY(-2px);
        background: radial-gradient(circle at center, #f6c358 5%, #f7a803 75%);
        box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25); } }
    .product__cta:active, .product__cta:focus {
      transform: translateY(1px);
      box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25); }
  .product__desc {
    padding: 1rem 1rem;
    font-family: "Dosis", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.16em;
    color: #1d1c1c; }
  .product__value {
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    margin-bottom: 1rem;
    font-weight: 600; }
  .product--new .product__side--front::before {
    position: absolute;
    content: 'New!';
    top: 3rem;
    right: 4rem;
    width: 7rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.9;
    letter-spacing: 0.18em;
    color: #fbfbfb;
    background: url(../img/new-bg.png) no-repeat center;
    background-size: contain; }

.jars {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle at center, #f9d486 0%, #f7a803 70%);
  overflow: hidden; }
  .jars__image-1 {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 250px;
    filter: blur(9.3px); }
  .jars__image-2 {
    position: absolute;
    top: 12%;
    left: 60%;
    width: 320px;
    filter: blur(5.6px);
    transform: rotate(-15deg) scaleX(-1); }
  .jars__image-3 {
    position: absolute;
    top: 36%;
    left: 10%;
    width: 550px;
    filter: blur(3.8px); }
  .jars__image-4 {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 1200px;
    filter: blur(6.4px);
    transform: rotate(-5deg); }
  .jars__image-5 {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 610px; }

.contact {
  position: relative;
  padding: 10rem 3rem 16rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media only screen and (min-width: 37.5em) {
    .contact {
      padding: 10rem 10rem 16rem 10rem; } }
  .contact__headline {
    font-family: "Rock Salt", cursive;
    font-size: 3.3rem;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    margin-bottom: 12rem; }
  .contact__map {
    width: 50%;
    height: 56rem; }

.form {
  padding-left: 70px;
  width: 35%; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input, .form__textarea {
    padding: 1.8rem;
    display: block;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    color: #1d1c1c;
    letter-spacing: 0.18em;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 12px;
    background-color: #fbfbfb;
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.3s; }
    .form__input:focus, .form__textarea:focus {
      outline: none;
      box-shadow: 0px 4px 12px 1px rgba(99, 42, 3, 0.3);
      border-bottom: 3px solid #4ca64c; }
    .form__input:focus:invalid, .form__textarea:focus:invalid {
      border-bottom: 3px solid #ff4d4d; }
    .form__input::placeholder, .form__textarea::placeholder {
      text-transform: uppercase;
      color: #f7a803; }
  .form__textarea {
    resize: none; }
  .form__label {
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    font-family: "Dosis", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-11rem); }
  .form__cta {
    display: block;
    padding: 1.7rem 3.8rem;
    width: fit-content;
    border: none;
    border-radius: 12px;
    font-family: "Dosis", sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: #1d1c1c;
    cursor: pointer;
    background: radial-gradient(circle at center, #f6c358 0%, #f7a803 70%);
    box-shadow: 0px 4px 10px 0px rgba(99, 42, 3, 0.25);
    transition: all 0.2s ease;
    margin-top: 1.5rem;
    font-weight: 800; }
    @media (hover: hover) {
      .form__cta:hover {
        transform: translateY(-2px);
        background: radial-gradient(circle at center, #f6c358 5%, #f7a803 75%);
        box-shadow: 0px 4px 15px 0px rgba(99, 42, 3, 0.25); } }
    .form__cta:active, .form__cta:focus {
      transform: translateY(1px);
      box-shadow: 0px 4px 5px 0px rgba(99, 42, 3, 0.25); }

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1; }
  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: fade(white, 15%);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear; }
    .bg-bubbles li:nth-child(1) {
      left: 10%; }
    .bg-bubbles li:nth-child(2) {
      left: 20%;
      width: 80px;
      height: 80px;
      animation-delay: 2s;
      animation-duration: 17s; }
    .bg-bubbles li:nth-child(3) {
      left: 25%;
      animation-delay: 4s; }
    .bg-bubbles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-duration: 22s;
      background-color: fade(white, 25%); }
    .bg-bubbles li:nth-child(5) {
      left: 70%; }
    .bg-bubbles li:nth-child(6) {
      left: 80%;
      width: 120px;
      height: 120px;
      animation-delay: 3s;
      background-color: fade(white, 20%); }
    .bg-bubbles li:nth-child(7) {
      left: 32%;
      width: 160px;
      height: 160px;
      animation-delay: 7s; }
    .bg-bubbles li:nth-child(8) {
      left: 55%;
      width: 20px;
      height: 20px;
      animation-delay: 15s;
      animation-duration: 40s; }
    .bg-bubbles li:nth-child(9) {
      left: 25%;
      width: 10px;
      height: 10px;
      animation-delay: 2s;
      animation-duration: 40s;
      background-color: fade(white, 30%); }
    .bg-bubbles li:nth-child(10) {
      left: 90%;
      width: 160px;
      height: 160px;
      animation-delay: 11s; }

@-webkit-keyframes square {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-700px) rotate(600deg); } }

@keyframes square {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-700px) rotate(600deg); } }
